@model Form

@{
    ViewData["Title"] = "Форма ввода";
}

<head>
    <style>
        td {
            border: 1px solid gray;
            width: 200px;
        }

        input[type="number"], textarea {
            background-color: #d9e1f2;
            width: 100%;
            -moz-appearance: textfield;
        }

        input[type="text"], textarea {
            background-color: #c6e0b4;
            width: 100%;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>

</head>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                function fillD(){
                    const discriminantFormula = $('#collapsedD').val();
                    return new Function(discriminantFormula)();
                }
                $(function(){
                    let resultD = fillD;
                    $('#D').val(resultD);
                });
                function fillX1(){
                    const firstResultFormula = $('#collapsedX1').val();
                    return new Function(firstResultFormula)();
                }
                $(function(){
                    let resultX1 = fillX1;
                    $('#X1').val(resultX1);
                });
                function fillX2() {
                    const firstResultFormula = $('#collapsedX2').val();
                    return new Function(firstResultFormula)();
                }
                $(function () {
                    let resultX2 = fillX2;
                    $('#X2').val(resultX2);
                });
                $(function(){
                    if ($('#D').val() < 0) {
                        $('#X1').val('-');
                        $('#X2').val('-');
                        alert('Отрицательный дискриминант. Пожалуйста введите другие значения.');
                        console.log('Отрицательный дискриминант. Пожалуйста введите другие значения.');
                    }
                });
                $(function () {
                    if ($('#A').val() == 0) {
                        $('#X1').val('-');
                        $('#X2').val('-');
                        console.log('Вычисление результатов приводит к делению на 0. Пожалуйста введите другие значения.')
                    }
                });
            });
            $(function () {
                $(".saveButton").click(function () {
                    var formTransfer = {
                        valueA: $("#A").val(),
                        valueB: $("#B").val(),
                        valueC: $("#C").val(),
                        discriminant: $("#D").val(),
                        firstResult: $("#X1").val(),
                        secondResult: $("#X2").val()
                    };
                    if ($('#A').val() != '' && $('#B').val() != '' && $('#C').val() != '') {
                        $.ajax({
                            url: 'home/saveformtodb',
                            type: 'post',
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            data: JSON.stringify(formTransfer),
                            success: function (data) {
                                if (data.success == true) {
                                    alert('Данные формы успешно сохранены');
                                }
                                else {
                                    alert(data.status);
                                }
                            },
                            error: function (error) {
                                alert(error.statusText);
                            }
                        });
                    } else {
                        alert('Пожалуйста заполните все значения.');
                    }
                });
            });
            $(function () {
                var onChanged = function () {
                    if ($('#A').val() != '' && $('#B').val() != '' && $('#C').val() != '') {
                        function fillD() {
                            const discriminantFormula = $('#collapsedD').val();
                            return new Function(discriminantFormula)();
                        }
                        $(function () {
                            let resultD = fillD;
                            $('#D').val(resultD);
                        });
                        function fillX1() {
                            const firstResultFormula = $('#collapsedX1').val();
                            return new Function(firstResultFormula)();
                        }
                        $(function () {
                            let resultX1 = fillX1;
                            $('#X1').val(resultX1);
                        });
                        function fillX2() {
                            const firstResultFormula = $('#collapsedX2').val();
                            return new Function(firstResultFormula)();
                        }
                        $(function () {
                            let resultX2 = fillX2;
                            $('#X2').val(resultX2);
                        });
                        $(function () {
                            if ($('#D').val() < 0) {
                                $('#X1').val('-');
                                $('#X2').val('-');
                                alert('Отрицательный дискриминант. Пожалуйста введите другие значения.');
                                console.log('Отрицательный дискриминант. Пожалуйста введите другие значения.');
                            }
                        });
                        $(function () {
                            if ($('#A').val() == 0) {
                                $('#X1').val('-');
                                $('#X2').val('-');
                                console.log('Вычисление результатов приводит к делению на 0. Пожалуйста введите другие значения.')
                            }
                        });
                    } else {
                        console.log('Пустое поле. Пожалуйста заполните все значения.');
                    }
                }
                $(function () {
                    var empty = true;
                    $('input[type="number"]').each(function () {
                        if ($(this).val() != "") {
                            empty = false;
                            return false;
                        }
                    })
                    if (empty == false) {
                        $(".formTable").on("change", onChanged)
                    }
                });
            });
        });
    </script>
}


    <div class="text-center">
        <table>
            <tr>
                <td style="border:0px"></td>
                <td style="border:0px"><input type="button" class="saveButton" value="Сохранить" /></td>
            </tr>
        </table>

        <p></p>

        <table class="formTable">
            <thread>
                <tr align="left"><td>Индикатор</td><td>Значение</td></tr>
                <tr align="left">
                    <td>@Model.IndicatorA.Description</td>
                    <td><input type="number" id="A" value="@Model.IndicatorA.Value" pattern="[0-9]+"/></td>
                </tr>
                <tr align="left">
                    <td>@Model.IndicatorB.Description</td>
                    <td><input type="number" id="B" value="@Model.IndicatorB.Value" pattern="[0-9]+" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.IndicatorC.Description</td>
                    <td><input type="number" id="C" value="@Model.IndicatorC.Value" pattern="[0-9]+"/></td>
                </tr>
                <tr align="left">
                    <td>@Model.Discriminant.Description</td>
                    <td><input readonly type="text" id="D" value="-"/></td>
                </tr>
                <tr align="left">
                    <td>@Model.FirstResult.Description</td>
                    <td><input readonly type="text" id="X1" value="-"/></td>
                </tr>
                <tr align="left">
                    <td>@Model.SecondResult.Description</td>
                    <td><input readonly type="text" id="X2" value="-"/></td>
                </tr>
                <!--Here is the collapsed section of table rows - used to store formulas-->
                <tr align="left" style="visibility:collapse">
                    <td>@Model.Discriminant.Description</td>
                    <td><input readonly type="text" id="collapsedD" value="@Model.Discriminant.Value" /></td>
                </tr>
                <tr align="left" style="visibility:collapse">
                    <td>@Model.FirstResult.Description</td>
                    <td><input readonly type="text" id="collapsedX1" value="@Model.FirstResult.Value" /></td>
                </tr>
                <tr align="left" style="visibility:collapse">
                    <td>@Model.SecondResult.Description</td>
                    <td><input readonly type="text" id="collapsedX2" value="@Model.SecondResult.Value" /></td>
                </tr>
            </thread>
        </table>
    </div>