@model Form

@{
    ViewData["Title"] = "Форма ввода";
}

<head>
    <style>
        td {
            border: 1px solid gray;
            width: 200px;
        }

        input[type="number"], textarea {
            background-color: #d9e1f2;
            width: 100%;
            -moz-appearance: textfield;
        }

        input[type="text"], textarea {
            background-color: #c6e0b4;
            width: 100%;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    </style>

</head>

@section Scripts
    {
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $(".saveButton").click(function () {
                    var formTransfer = {
                        valueA: parseFloat($("#valueA").val()),
                        valueB: parseFloat($("#valueB").val()),
                        valueC: parseFloat($("#valueC").val()),
                        discriminant: parseFloat($("#discriminant").val()),
                        firstResult: parseFloat($("#firstResult").val()),
                        secondResult: parseFloat($("#secondResult").val())
                    };
                    $.ajax({
                        url: 'home/saveformtodb',
                        type: 'post',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(formTransfer),
                        success: function (data) {
                            if (data.success == true) {
                                alert('Success');
                            }
                            else {
                                alert(data.status);
                            }
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    });
                });
            });
            $(function () {
                var onChanged = function () {
                    var formTransfer = {
                        valueA: parseFloat($("#valueA").val()),
                        valueB: parseFloat($("#valueB").val()),
                        valueC: parseFloat($("#valueC").val()),
                        discriminant: parseFloat($("#discriminant").val()),
                        firstResult: parseFloat($("#firstResult").val()),
                        secondResult: parseFloat($("#secondResult").val())
                    };
                    $.ajax({
                        url: 'home/postform',
                        type: 'post',
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        data: JSON.stringify(formTransfer),
                        success: function (data) {
                            $('#valueA').val(data.valueA);
                            $('#valueB').val(data.valueB);
                            $('#valueC').val(data.valueC);
                            $('#discriminant').val(data.discriminant);
                            $('#firstResult').val(data.firstResult);
                            $('#secondResult').val(data.secondResult);
                        },
                        error: function (error) {
                            alert(error.statusText);
                        }
                    });
                }
                $(function () {
                    $(".formTable").on("change", onChanged)
                });
            });
        });
    </script>
}


    <div class="text-center">
        <table>
            <tr>
                <td style="border:0px"></td>
                <td style="border:0px"><input type="button" class="saveButton" value="Сохранить" /></td>
            </tr>
        </table>

        <p></p>

        <table class="formTable">
            <thread>
                <tr align="left"><td>Индикатор</td><td>Значение</td></tr>
                <tr align="left">
                    <td>@Model.ValueA.Title</td>
                    <td><input type="number" id="valueA" value="@Model.ValueA.Value" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.ValueB.Title</td>
                    <td><input type="number" id="valueB" value="@Model.ValueB.Value" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.ValueC.Title</td>
                    <td><input type="number" id="valueC" value="@Model.ValueC.Value" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.Discriminant.Title</td>
                    <td><input readonly type="text" id="discriminant" value="@Model.Discriminant.Value" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.FirstResult.Title</td>
                    <td><input readonly type="text" id="firstResult" value="@Model.FirstResult.Value" /></td>
                </tr>
                <tr align="left">
                    <td>@Model.SecondResult.Title</td>
                    <td><input readonly type="text" id="secondResult" value="@Model.SecondResult.Value" /></td>
                </tr>
            </thread>
        </table>
    </div>